*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
body {
  font-family: 'Raleway', sans-serif;
}
.welcome-heading {
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  color: #3e3e3e;
}
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  color: #3e3e3e;
}
.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #3e3e3e;
}
.paragraph {
  font-size: 1.7rem;
  color: #3e3e3e;
  line-height: 1.4;
}
.paragraph--light {
  color: #d4d4d4;
}
.paragraph--bigger {
  font-size: 1.8rem;
}
.paragraph--big-line-height {
  line-height: 1.8;
}
.paragraph--right-padding {
  padding-right: 10rem;
}
.anchor:link,
.anchor:visited {
  color: #fb6470;
  text-decoration: none;
  font-weight: 700;
}
.anchor:hover {
  color: #fc969e;
}
.u-margin-bottom-tiny {
  margin-bottom: 0.5rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem;
}
.u-margin-bottom-large {
  margin-bottom: 3rem;
}
.u-center-text {
  text-align: center;
}
.header {
  background-image: linear-gradient(rgba(41, 41, 41, 0.7), rgba(41, 41, 41, 0.7)), url(../../media/img/Background.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: 30%;
  padding: 2rem;
  text-align: center;
}
.header__home-link:link,
.header__home-link:visited {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.footer {
  font-size: 1.6rem;
  padding: 1rem;
  color: #d4d4d4;
  background-color: #3f3d3e;
  text-align: center;
}
.main-btn:link,
.main-btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #fb6470;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem 2rem;
}
.main-btn--bigger:link,
.main-btn--bigger:visited {
  font-size: 2rem;
}
.code-box {
  font-size: 1.6rem;
  background-color: #e0e0e0;
  border: 3px solid #fb6470;
  border-radius: 4px;
  color: #3e3e3e;
  padding: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
}
.table {
  font-size: 1.7rem;
  border: 2px solid #fb6470;
  color: #3e3e3e;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 2px solid #fb6470;
  padding: 0.5rem;
}
.table td:first-child,
.table th:first-child {
  text-align: center;
}
.table th {
  background-color: #fec7cc;
}
.table td {
  background-color: #ffeff0;
}
.home-welcome-section {
  height: 100vh;
  background-image: url(../../media/img/Background.jpg);
  background-image: linear-gradient(rgba(41, 41, 41, 0.7), rgba(41, 41, 41, 0.7)), url(../../media/img/Background.jpg);
  background-size: cover;
}
.home-welcome-section__content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 114rem;
  padding: 1rem;
  text-align: center;
}
.article-page {
  display: flex;
}
.article-page__nav-side {
  flex: 0 0 28rem;
  background-color: #353541;
}
.article-page__content-side {
  flex: 1;
  overflow-x: hidden;
}
.article-page__content {
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;
  padding: 3rem;
}
