*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
body {
  font-family: 'Raleway', sans-serif;
}
.welcome-heading {
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  color: #3e3e3e;
}
.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  color: #3e3e3e;
}
.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #3e3e3e;
}
.paragraph {
  font-size: 1.7rem;
  color: #3e3e3e;
  line-height: 1.4;
}
.paragraph--light {
  color: #d4d4d4;
}
.paragraph--bigger {
  font-size: 1.8rem;
}
.paragraph--big-line-height {
  line-height: 1.8;
}
.paragraph--right-padding {
  padding-right: 10rem;
}
.anchor:link,
.anchor:visited {
  color: #fb6470;
  text-decoration: none;
  font-weight: 700;
}
.anchor:hover {
  color: #fc969e;
}
.u-margin-bottom-tiny {
  margin-bottom: 0.5rem;
}
.u-margin-bottom-small {
  margin-bottom: 1rem;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem;
}
.u-margin-bottom-large {
  margin-bottom: 3rem;
}
.u-center-text {
  text-align: center;
}
.header {
  background-image: linear-gradient(rgba(41, 41, 41, 0.7), rgba(41, 41, 41, 0.7)), url(../../media/img/Background.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: 30%;
  padding: 2rem;
  text-align: center;
}
.header__home-link:link,
.header__home-link:visited {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.footer {
  font-size: 1.6rem;
  padding: 1rem;
  color: #d4d4d4;
  background-color: #3f3d3e;
  text-align: center;
}
.main-btn:link,
.main-btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #fb6470;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem 2rem;
}
.main-btn--bigger:link,
.main-btn--bigger:visited {
  font-size: 2rem;
}
.code-box {
  font-size: 1.6rem;
  background-color: #e0e0e0;
  border: 3px solid #fb6470;
  border-radius: 4px;
  color: #3e3e3e;
  padding: 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
}
.table {
  font-size: 1.7rem;
  border: 2px solid #fb6470;
  color: #3e3e3e;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 2px solid #fb6470;
  padding: 0.5rem;
}
.table td:first-child,
.table th:first-child {
  text-align: center;
}
.table th {
  background-color: #fec7cc;
}
.table td {
  background-color: #ffeff0;
}
.part-card--light-blue {
  background-color: #01b9c3;
}
.part-card--blue {
  background-color: #0093b5;
}
.part-card--blue-2 {
  background-color: #6176ab;
}
.part-card--dark {
  background-color: #1e2e3e;
}
.part-card--dark-2 {
  background-color: #353541;
}
.part-card--grey {
  background-color: #3f3d3e;
}
.part-card__image {
  height: 20rem;
  background-size: cover;
  background-position: center;
}
.part-card__content {
  padding: 1.5rem;
}
.part-card__heading {
  font-size: 2.1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}
.part-card__description {
  font-size: 1.7rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1.5rem;
}
.part-card__btn:link,
.part-card__btn:visited {
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 0.3rem;
  position: relative;
  z-index: 1;
  transition: all 0.1s;
}
.part-card__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 3px;
  transform: scaleY(0);
  transition: all 0.1s;
  transform-origin: bottom;
  z-index: -1;
}
.part-card__btn:hover {
  color: #3e3e3e;
  border-radius: 3px;
}
.part-card__btn:hover::after {
  transform: scaleY(1);
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #fb6470;
}
.navigation {
  list-style: none;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
}
.navigation__item {
  font-size: 1.6rem;
  font-weight: 700;
}
.navigation__item:not(:first-child) {
  padding-top: 0.5rem;
}
.navigation__item--indented {
  padding-left: 2rem;
  font-size: 1.5rem;
  position: relative;
}
.navigation__item--indented::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 1rem;
  height: 100%;
  width: 2px;
  background-color: #fff;
}
.navigation__item--indented::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 1rem;
  height: 2px;
  background-color: #fff;
}
.navigation__item--last-indented::before {
  height: 50%;
}
.navigation__link:link,
.navigation__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  background-color: #fb6470;
  border-radius: 4px;
  padding: 0.5rem;
}
.navigation__link:hover {
  background-color: #fa4b59;
}
.navigation__link:active {
  background-color: #fa3242;
}
.main-navigation {
  max-width: 40rem;
  max-height: 100vh;
  max-height: calc(100vh - 2rem);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%) scale(0);
  background-color: #353541;
  border: 2px solid #d0d0d8;
  border-radius: 4px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: all 0.3s 0.2s;
  overflow-y: auto;
}
.main-navigation::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
.main-navigation::-webkit-scrollbar-track {
  background: #f30619;
  background: #4c4c5d;
  background: #1e2e3e;
}
.main-navigation::-webkit-scrollbar-thumb {
  background: #fa4b59;
  border-radius: 2px;
  border: 2px solid #fda5ac;
}
.main-navigation::-webkit-scrollbar-thumb:hover {
  background: #fb6470;
}
.main-navigation__heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 0.7rem;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation__item:not(:last-child) {
  margin-bottom: 1rem;
}
.main-navigation__link {
  display: block;
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  background-color: #fb6470;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}
.main-navigation__link:hover {
  background-color: #fa4b59;
}
.main-navigation__link:active {
  background-color: #fa3242;
}
.main-navigation-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  background-color: #fb6470;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
.main-navigation-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 2px;
  background-color: #fff;
  transform-origin: 25% 25%;
  transition: all 0.2s;
}
.main-navigation-btn__icon::before {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}
.main-navigation-btn__icon::after {
  content: "";
  position: absolute;
  top: 0.8rem;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}
.main-navigation-btn:hover .main-navigation-btn__icon::before {
  transform: translateY(-0.2rem);
}
.main-navigation-btn:hover .main-navigation-btn__icon::after {
  transform: translateY(0.2rem);
}
.main-navigation-background {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 5;
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(circle at center, rgba(250, 75, 89, 0.5), rgba(250, 50, 66, 0.8) 30%, #8f040f);
  border-radius: 50%;
  transition: all 0.5s ease;
}
.main-navigation-checkbox {
  display: none;
}
.main-navigation-checkbox:checked ~ .main-navigation-btn .main-navigation-btn__icon {
  background-color: transparent;
  transform: rotate(180deg);
}
.main-navigation-checkbox:checked ~ .main-navigation-btn .main-navigation-btn__icon::before {
  transform: translateY(0.8rem) rotate(45deg);
}
.main-navigation-checkbox:checked ~ .main-navigation-btn .main-navigation-btn__icon::after {
  transform: translateY(-0.8rem) rotate(-45deg);
}
.main-navigation-checkbox:checked ~ .main-navigation-background {
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.main-navigation-checkbox:checked + .main-navigation {
  transform: translate(-50%, -50%) scale(1);
}
.home-welcome-section {
  height: 100vh;
  background-image: url(../../media/img/Background.jpg);
  background-image: linear-gradient(rgba(41, 41, 41, 0.7), rgba(41, 41, 41, 0.7)), url(../../media/img/Background.jpg);
  background-size: cover;
}
.home-welcome-section__content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 114rem;
  padding: 1rem;
  text-align: center;
}
.home-cheatsheets-section {
  background-color: #fff;
  padding: 3rem;
}
.home-cheatsheets-section__text {
  width: 100%;
  max-width: 85.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
}
.home-cheatsheets-section__parts {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.home-cheatsheets-section__parts :last-child {
  grid-column-start: 2;
}
.home-about-section {
  background-color: #fff;
  border-top: 2px solid #e6e6e6;
  padding: 3rem;
}
.home-about-section__content {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
}
.home-about-section__text-side {
  flex: 0 1 45%;
  padding-right: 2rem;
}
.home-about-section__video-side {
  flex: 0 1 55%;
  padding-left: 2rem;
}
.article-page {
  display: flex;
}
.article-page__nav-side {
  flex: 0 0 28rem;
  background-color: #353541;
}
.article-page__content-side {
  flex: 1;
  overflow-x: hidden;
}
.article-page__content {
  width: 100%;
  max-width: 170rem;
  margin: 0 auto;
  padding: 3rem;
}
