.home-welcome-section {
    height: 100vh;

    background-image: url(../../media/img/Background.jpg);
    background-size: cover;

    &__content {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);

        width: 100%;
        max-width: @grid-width;

        padding: 1rem;

        text-align: center;
    }
}