@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.welcome-heading {
    font-size: 4.5rem;
    font-weight: 700;

    color: @colors[white];
}

.heading-primary {
    font-size: 4rem;
    font-weight: 700;

    color: @colors[third-grey];
}

.paragraph {
    font-size: 1.6rem;

    color: @colors[third-grey];

    &--light {
        color: @colors[light-grey];
    }

    &--bigger {
        font-size: 1.8rem;
    }

    &--big-line-height {
        line-height: 1.8;
    }
}