@colors: {
    white: #fff;
    black: #000;
    pink: #fb6470;
    light-grey: #d4d4d4;
    almost-black: #292929;
    grey: #353541;
    second-grey: #3f3d3e;
    third-grey: #3e3e3e;
    code-background: #e0e0e0;
}

@grid-width: 114rem;