.code-box {
    font-size: 1.6rem;

    background-color: @colors[code-background];
    // border: 3px solid @colors[second-grey];
    border: 3px solid @colors[pink];
    border-radius: 4px;
    color: @colors[third-grey];

    padding: .5rem;

    white-space: nowrap;
    overflow-x: auto;
}